html {
    font-size: 62.5%
}
#midashi {
    font-size: 3rem;
    font-weight: 900;
    color: #ffff00;
    background-color: #0000ff;
    padding: 10px;
}
#auto {
    font-size: 2.8rem;
    font-weight: 900;
    color: #ff0000;
    padding: 10px;
    text-decoration: none;
}
#th0 {
    font-size: 2rem;
    background-color: #CCFFFF;
    text-align: center !important;
}
#td0 {
    font-size: 2rem;
    text-align: center !important;
}
#th1, #td1 {
    font-size: 2rem;
    text-align: center;
}
#mai {
    text-align: center;
}
#s_ymd {
	text-align: center;
    margin-right: 50px;
}
.m1 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    background-color: #c0c0c0;
    padding: 0.5rem;
}
.m2 {
    font-size: 2rem;
}
.blink {
  align-items: center;
  background-color: #ffffff;
  border: 0.6rem solid #ffffff;
  color: #000;
  display: flex;
  font-size: 2.5rem;
}
.auto {
  max-width: 50rem;
}
@keyframes blinkAnimation {
  0% {
    color: #ffffff;
  }
  100% {
    color: #ff0000;
  }
}
.blink {
  animation: blinkAnimation 1s ease infinite alternate;
}
td:nth-of-type(1) {
    text-align: center;
    border: none;
}
td:nth-of-type(2) {
    text-align: center;
    border: none;
}
td:nth-of-type(4) {
    text-align: center;
    border: none;
}
td:nth-of-type(5) {
    text-align: right;
    border: none;
}
td:nth-of-type(6) {
    text-align: right;
    border: none;
}
td:nth-of-type(7) {
    text-align: right;
    border: none;
}
td:nth-of-type(8) {
    text-align: center;
    border: none;
}
#dt {
    text-align: right;
}
#dtg {
    background-color: #FFFF80;
    text-align: right;
}
@media only screen and (min-width:1920px) {
  html {
    font-size: 75.8929%;
  }
}
@media print {
	@page {
		size: A4 landscape
	}
}

.bgtxt {
	background-color: #FFFFCC;
}

.bgchk {
	background-color: #FFFFCC;
}

.mgchk {
	margin-left: 17%;
}


.breakword {
	word-wrap: break-word;
	word-break: break-all;
	font-size: 0.6rem
}

.gfml5 {
	margin-left: 5%;
}

.gfh8 {
	height: 1.8rem;
}

.chkfacility {
	right: 14.5%;
	position: absolute;
	max-width: 1%;
}

.chkshipdate {
	right: 11%;
	position: absolute;
	max-width: 1%;
}

.chkdel {
	right: -17%;
	position: absolute;
	max-width: 1%;
}

.chkdel1 {
	float: right;
}

.brno {
	width: 15px;
	text-align: center;
	border: none;
}

.txtright {
	text-align: right;
}

.circle {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: 2%;
	text-align: center;
	line-height: 140px;
}

/* common */
body {
	background-color: #FFFFFF;
	font-size: 0.9rem;
	color: #000000;
	overflow-x: hidden;
}

/* standard label */
.label-h {
	background-color: #d9edf7;
	padding: 0.3rem 0.5rem;
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.label-blank {
	padding: 0.3rem 0.5rem;
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.label-h label {
	margin: 0;
}

.form-check-inline .form-check-label {
	padding-left: 0.25rem;
}

.form-check-input {
	margin-left: 0;
}

/* adjust form */
.form-check {
	margin-bottom: 0;
}

/* shipment_progress */
.h1 {
	font-size: 1.3rem;
	color: #000000;
}

.user-name {
	font-size: 0.8rem;
}

.login-time {
	font-size: 0.8rem;
}

/* header */
.navbar {
	margin-bottom: 1rem;
	background-color: #d9edf7;
	color: #000000;
}

/* datatable01 2-9_ãƒ­ã‚±ãƒ¼ã‚·ãƒ§ãƒ³å‡ºåº«æ¤œå“�ãƒ‡ãƒ¼ã‚¿ãƒ†ãƒ¼ãƒ–ãƒ«*/
table.data-table-a {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-a th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-a td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	/*text-align:center;*/
	padding: 0.5rem 0.3rem;
	vertical-align: middle;
}

table.data-table-a th.tcol-1, table.data-table-a td.tcol-1 {
	width: 10%;
}

table.data-table-a th.tcol-2, table.data-table-a td.tcol-2 {
	width: 10%;
}

table.data-table-a th.tcol-3, table.data-table-a td.tcol-3 {
	width: 29%;
}

table.data-table-a th.tcol-4, table.data-table-a td.tcol-4 {
	width: 10%;
}

table.data-table-a th.tcol-5, table.data-table-a td.tcol-5 {
	width: 10%;
}

table.data-table-a th.tcol-6, table.data-table-a td.tcol-6 {
	width: 10%;
}

table.data-table-a th.tcol-7, table.data-table-a td.tcol-7 {
	width: 10%;
}

table.data-table-a th.tcol-8, table.data-table-a td.tcol-8 {
	width: 10%;
}

.datatable01 {
	position: relative;
	width: 99%;
	height: 0;
	padding-top: 16%;
}

.datatable01 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 99%;
}

/* datatable02ã€€å¾—æ„�å…ˆåˆ¥å�—æ³¨çŠ¶æ³�ç…§ä¼š.htmlã�®ã‚¤ãƒ³ãƒ©ã‚¤ãƒ³ãƒ†ãƒ¼ãƒ–ãƒ« */
table.data-table-b {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-b th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-b td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

table.data-table-b th.tcol-1, table.data-table-b td.tcol-1 {
	width: 20%;
}

table.data-table-b th.tcol-2, table.data-table-b td.tcol-2 {
	width: 19%;
}

table.data-table-b th.tcol-3, table.data-table-b td.tcol-3 {
	width: 10%;
}

table.data-table-b th.tcol-4, table.data-table-b td.tcol-4 {
	width: 10%;
}

table.data-table-b th.tcol-5, table.data-table-b td.tcol-5 {
	width: 10%;
}

table.data-table-b th.tcol-6, table.data-table-b td.tcol-6 {
	width: 10%;
}

table.data-table-b th.tcol-7, table.data-table-b td.tcol-7 {
	width: 10%;
}

table.data-table-b th.tcol-8, table.data-table-b td.tcol-8 {
	width: 10%;
}

.datatable02 {
	position: relative;
	width: 99%;
	height: 0;
	padding-top: 16%;
}

.datatable02 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	/*height:190px;*/
	height: 99%;
}

/* datatable03ã€€2-16_å‡ºè�·ç¢ºå®šã�®ä¸Šéƒ¨ãƒ†ãƒ¼ãƒ–ãƒ« */
table.data-table-c {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-collapse: separate;
	border-spacing: 0;
	font-size: 0.75rem;
}

table.data-table-c th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	/*border-top:1px solid #CCCCCC;*/
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-c td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

table.data-table-c th.tcol-1, table.data-table-c td.tcol-1 {
	width: 6%;
}

table.data-table-c th.tcol-2, table.data-table-c td.tcol-2 {
	width: 12%;
}

table.data-table-c th.tcol-3, table.data-table-c td.tcol-3 {
	width: 18%;
}

table.data-table-c th.tcol-4, table.data-table-c td.tcol-4 {
	width: 18%;
}

table.data-table-c th.tcol-5, table.data-table-c td.tcol-5 {
	width: 6%;
}

table.data-table-c th.tcol-6, table.data-table-c td.tcol-6 {
	width: 6%;
}

table.data-table-c th.tcol-7, table.data-table-c td.tcol-7 {
	width: 6%;
}

table.data-table-c th.tcol-8, table.data-table-c td.tcol-8 {
	width: 7%;
}

table.data-table-c th.tcol-9, table.data-table-c td.tcol-9 {
	width: 7%;
}

table.data-table-c th.tcol-10, table.data-table-c td.tcol-10 {
	width: 7%;
}

table.data-table-c th.tcol-11, table.data-table-c td.tcol-11 {
	width: 6%;
}

.datatable03 {
	position: relative;
	width: 99%;
	height: 0;
	padding-top: 16%;
}

.datatable03 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	/*height:190px;*/
	height: 99%;
}

/* datatable04ã€€2-16_å‡ºè�·ç¢ºå®šã�®ä¸‹éƒ¨ãƒ†ãƒ¼ãƒ–ãƒ« */
table.data-table-d {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-d th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-d td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

table.data-table-d th.tcol-1, table.data-table-d td.tcol-1 {
	width: 7%;
}

table.data-table-d th.tcol-2, table.data-table-d td.tcol-2 {
	width: 7%;
}

table.data-table-d th.tcol-3, table.data-table-d td.tcol-3 {
	width: 7%;
}

table.data-table-d th.tcol-4, table.data-table-d td.tcol-4 {
	width: 7%;
}

table.data-table-d th.tcol-5, table.data-table-d td.tcol-5 {
	width: 8%;
}

table.data-table-d th.tcol-6, table.data-table-d td.tcol-6 {
	width: 23%;
}

table.data-table-d th.tcol-7, table.data-table-d td.tcol-7 {
	width: 5%;
}

table.data-table-d th.tcol-8, table.data-table-d td.tcol-8 {
	width: 5%;
}

table.data-table-d th.tcol-9, table.data-table-d td.tcol-9 {
	width: 6%;
}

table.data-table-d th.tcol-10, table.data-table-d td.tcol-10 {
	width: 8%;
}

table.data-table-d th.tcol-11, table.data-table-d td.tcol-11 {
	width: 8%;
}

table.data-table-d th.tcol-12, table.data-table-d td.tcol-12 {
	width: 8%;
}

.datatable04 {
	position: relative;
	width: 99%;
	height: 0;
	padding-top: 16%;
}

.datatable04 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	/*height:190px;*/
	height: 99%;
}

/* datatable05*/
table.data-table-e {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-e th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.1rem;
	vertical-align: middle;
}

table.data-table-e td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.2rem; /*0.5rem*/
	vertical-align: middle;
}

table.data-table-e tr td table.data-table-e {
	width: 100%;
	margin: 0;
	border-left: none;
}

table.data-table-e tr td table.data-table-e th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: none;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.1; /*0.1rem*/
	vertical-align: middle;
}

table.data-table-e tr td table.data-table-e td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.1; /*0.1rem*/
	vertical-align: middle;
}

table.data-table-e tr td table.data-table-e tr:last-child td {
	border-bottom: none;
}

table.data-table-e tr td table.data-table-e th:last-child, table.data-table-e tr td table.data-table-e td:last-child
	{
	border-right: none;
}

table.data-table-e th .btn, table.data-table-e td .btn, table.data-table-e th .form-control-sm,
	table.data-table-e td .form-control-sm {
	font-size: 11px;
}

table.data-table-e th.tcol-1, table.data-table-e td.tcol-1 {
	width: 5%;
}

table.data-table-e th.tcol-2, table.data-table-e td.tcol-2 {
	width: 8%;
}

table.data-table-e th.tcol-3, table.data-table-e td.tcol-3 {
	width: 12%;
}

table.data-table-e th.tcol-4, table.data-table-e td.tcol-4 {
	width: 8%;
}

table.data-table-e th.tcol-5, table.data-table-e td.tcol-5 {
	width: 10%;
}

table.data-table-e th.tcol-6, table.data-table-e td.tcol-6 {
	width: 10%;
}

table.data-table-e th.tcol-7, table.data-table-e td.tcol-7 {
	width: 7%;
}

table.data-table-e th.tcol-8, table.data-table-e td.tcol-8 {
	width: 10%;
}

table.data-table-e th.tcol-9, table.data-table-e td.tcol-9 {
	width: 10%;
}

table.data-table-e th.tcol-10, table.data-table-e td.tcol-10 {
	width: 20%;
}

table.data-table-e th.tcol-11, table.data-table-e td.tcol-11 {
	width: 5%;
}

table.data-table-e th.tcol-12, table.data-table-e td.tcol-12 {
	width: 10%;
}

table.data-table-e th.tcol-13, table.data-table-e td.tcol-13 {
	width: 10%;
}

table.data-table-e th.tcol-14, table.data-table-e td.tcol-14 {
	width: 12.5%;
}

table.data-table-e th.tcol-15, table.data-table-e td.tcol-15 {
	width: 7.5%;
}

table.data-table-e th.tcol-16, table.data-table-e td.tcol-16 {
	width: 7.5%;
}

table.data-table-e th.tcol-17, table.data-table-e td.tcol-17 {
	width: 10%;
}

table.data-table-e th.tcol-18, table.data-table-e td.tcol-18 {
	width: 37.5%;
}

table.data-table-e th.tcol-19, table.data-table-e td.tcol-19 {
	width: 3%;
}

/* datatable06*/
table.data-table-f {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-f th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-f td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

table.data-table-f th.tcol-1, table.data-table-f td.tcol-1 {
	width: 20%;
}

table.data-table-f th.tcol-2, table.data-table-f td.tcol-2 {
	width: 19%;
}

table.data-table-f th.tcol-3, table.data-table-f td.tcol-3 {
	width: 10%;
}

table.data-table-f th.tcol-4, table.data-table-f td.tcol-4 {
	width: 10%;
}

table.data-table-f th.tcol-5, table.data-table-f td.tcol-5 {
	width: 10%;
}

table.data-table-f th.tcol-6, table.data-table-f td.tcol-6 {
	width: 10%;
}

table.data-table-f th.tcol-7, table.data-table-f td.tcol-7 {
	width: 10%;
}

table.data-table-f th.tcol-8, table.data-table-f td.tcol-8 {
	width: 10%;
}

.datatable06 {
	position: relative;
	width: 99%;
	height: 250px;
	padding-top: 16%;
}

.datatable06 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 99%;
	/*height:99%;*/
}

/* datatable07ã€€ä¿�ç•™è§£é™¤.htmlä¸‹éƒ¨ã‚¤ãƒ³ãƒ©ã‚¤ãƒ³ */
table.data-table-g {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-g th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-g td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

table.data-table-g th.tcol-1, table.data-table-g td.tcol-1 {
	width: 20%;
}

table.data-table-g th.tcol-2, table.data-table-g td.tcol-2 {
	width: 19%;
}

table.data-table-g th.tcol-3, table.data-table-g td.tcol-3 {
	width: 10%;
}

table.data-table-g th.tcol-4, table.data-table-g td.tcol-4 {
	width: 10%;
}

table.data-table-g th.tcol-5, table.data-table-g td.tcol-5 {
	width: 10%;
}

table.data-table-g th.tcol-6, table.data-table-g td.tcol-6 {
	width: 10%;
}

table.data-table-g th.tcol-7, table.data-table-g td.tcol-7 {
	width: 10%;
}

table.data-table-g th.tcol-8, table.data-table-g td.tcol-8 {
	width: 10%;
}

.datatable07 {
	position: relative;
	width: 99%;
	height: 250px;
	padding-top: 16%;
}

.datatable07 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	/*height:190px;*/
	height: 99%;
}

/* datatable08ã€€2-24_å‡ºè�·é€²æ�—ã�®ä¸­éƒ¨ãƒ†ãƒ¼ãƒ–ãƒ« */
table.data-table-h {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-h th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-h td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

table.data-table-h th.tcol-1, table.data-table-h td.tcol-1 {
	width: 20%;
}

table.data-table-h th.tcol-2, table.data-table-h td.tcol-2 {
	width: 19%;
}

table.data-table-h th.tcol-3, table.data-table-h td.tcol-3 {
	width: 10%;
}

table.data-table-h th.tcol-4, table.data-table-h td.tcol-4 {
	width: 10%;
}

table.data-table-h th.tcol-5, table.data-table-h td.tcol-5 {
	width: 10%;
}

table.data-table-h th.tcol-6, table.data-table-h td.tcol-6 {
	width: 10%;
}

table.data-table-h th.tcol-7, table.data-table-h td.tcol-7 {
	width: 10%;
}

table.data-table-h th.tcol-8, table.data-table-h td.tcol-8 {
	width: 10%;
}

.datatable08 {
	position: relative;
	width: 99%;
	height: 0;
	padding-top: 16%;
}

.datatable08 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	/*height:190px;*/
	height: 99%;
}

/* datatable09*/
table.data-table-i {
	width: 99%;
	margin: 0.4rem;
	border-left: 1px solid #CCCCCC;
	font-size: 0.75rem;
}

table.data-table-i th {
	text-align: center;
	background-color: #d9edf7;
	color: #000000;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.5rem 0;
	vertical-align: middle;
}

table.data-table-i td {
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

table.data-table-i th.tcol-1, table.data-table-i td.tcol-1 {
	width: 20%;
}

table.data-table-i th.tcol-2, table.data-table-i td.tcol-2 {
	width: 19%;
}

table.data-table-i th.tcol-3, table.data-table-i td.tcol-3 {
	width: 10%;
}

table.data-table-i th.tcol-4, table.data-table-i td.tcol-4 {
	width: 10%;
}

table.data-table-i th.tcol-5, table.data-table-i td.tcol-5 {
	width: 10%;
}

table.data-table-i th.tcol-6, table.data-table-i td.tcol-6 {
	width: 10%;
}

table.data-table-i th.tcol-7, table.data-table-i td.tcol-7 {
	width: 10%;
}

table.data-table-i th.tcol-8, table.data-table-i td.tcol-8 {
	width: 10%;
}

.datatable09 {
	position: relative;
	width: 99%;
	height: 250px;
	padding-top: 16%;
}

.datatable09 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	/*height:190px;*/
	height: 99%;
}

.table-striped-2span tbody tr:nth-of-type(4n+1), .table-striped-2span tbody tr:nth-of-type(4n+2)
	{
	background-color: #F2F2F2;
}

/*  */
legend {
	font-size: 1rem;
	background-color: #CCC;
}

/* */
#number-wrap {
	display: none;
}

/* additional style for hyperlink label */
.label-link {
	text-decoration: underline;
	/*color: #0000DD;*/
}

.label-056 {
	width: 130px;
	margin-left: 1.5%;
	margin-right: 4%;
}

.row-056 {
	width: 60%;
	margin: 0 auto;
}

.row-05601 {
	margin: 0 auto;
}

table.data-table-d th.tcol-1054, table.data-table-d td.tcol-1054 {
	width: 3%;
}

.input-group-addon {
	background-color: #d9edf7 !important;
}

.w3 {
	width: 3%;
}

.w5 {
	width: 5%;
}

.w10 {
	width: 10%;
}

.w15 {
	width: 15%;
}

.w20 {
	width: 20%;
}

.w25 {
	width: 25%;
}

.w30 {
	width: 30%;
}

.w35 {
	width: 35%;
}

.w40 {
	width: 40%;
}

.w45 {
	width: 45%;
}

.w50 {
	width: 50%;
}

.w55 {
	width: 55%;
}

.w60 {
	width: 60%;
}

.w65 {
	width: 65%;
}

.w70 {
	width: 70%;
}

.w75 {
	width: 75%;
}

.w80 {
	width: 80%;
}

.w85 {
	width: 85%;
}

.w90 {
	width: 90%;
}

.w95 {
	width: 95%;
}

.w100 {
	width: 100%;
}

.biko-hi {
	height: 3.3rem;
}

.label-setsumei {
	padding: 0.3rem 0.5rem;
	width: 100%;
	text-align: left;
	font-size: 0.75rem;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.radio_text {
	font-size: 0.8rem;
}

.fs-12 {
	font-size: 12px;
}

#boxWait{
	position: fixed;
	left:37.5%;
	top:40%;
	width:25%;
	height:200px;
	font-size:1.2em;
	z-index:1001;
	background-color:#fff;
	align-items:center;
	justify-content:center;
	text-align:center;
	display:none;
}

#layer
{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	opacity: 0.6;
	background-color:#000000;
	display:none;
} 